.Articles {
    text-align: justify;
    padding-right: 5%;
    padding-left: 5%;
}
.Articles > p {
    padding-right: 15%;
    padding-left: 15%;
	text-align: justify;
	line-height:1.5;
	text-indent: 20px;
}