.Header {
  height: 100%;
  width: 100%;
  // background-image: url(HeaderBackground.svg);
  // background-size: auto;
  backdrop-filter: grayscale(0.5) opacity(0.8);
  box-sizing: border-box;
  h1 {
    display: inline-block;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
  }
  h4{
    font-weight: normal;
    margin: 0%;
  }
}
.Header > * {
  width: 100%;
}
.HeaderMenu {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 1%;
  box-sizing: border-box;
}
.HeaderMenu > * {
 margin-left: 2%; 
}

