.CategoryCard {
	min-height: 500px;
    min-width: 400px;
    border-style:solid;
    margin: 15px;
    text-align: start;

    counter-reset: newCounter;
}

.singleArticle::before {
    counter-increment: newCounter;
    content: counter(newCounter) ') ';
}
